body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Arial', 'Yu Gothic',
    'Meiryo', sans-serif;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

button {
  padding: 4px;
  margin: 0;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 2px #ccc;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

button:hover:not(:disabled) {
  box-shadow: 0 0 4px #bbb;
}

.heading {
  font-size: clamp(24px, 2.5vw, 32px);
  margin: 8px 0;
  letter-spacing: 0.05em;
}

.canvas {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto !important;
  aspect-ratio: 1200 / 630;
}

.icon-button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 20px auto;
}

.icon-button {
  display: block;
  width: min(10vw, 44px);
  aspect-ratio: 1;
}
