body {
  margin: 0.5rem 1rem;
  font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Arial, Meiryo, sans-serif;
  background-color: var(--bg);

  --bg: #efeff7;

  @media screen and (width > 800px) {
    margin: 1rem 2dvb;
  }
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

button {
  padding: 4px;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  background-color: #fff;
  border: 1px solid #5f5b9a;
  border-radius: 4px;
}

button:disabled {
  cursor: not-allowed;
  filter: contrast(0.5);
}

.heading {
  margin: min(3vw, 2rem) 0;
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  text-align: center;
  letter-spacing: 0.05em;
}

.canvas {
  display: block;
  max-width: 100%;
  height: auto !important;
  aspect-ratio: 1200 / 630;
  margin: min(4vw, 3rem) auto;
  border: 2px solid #5f5b9a;
  border-radius: 0.5rem;
  box-shadow: clamp(0.2rem, 0.6vw, 0.4rem) clamp(0.2rem, 0.6vw, 0.4rem) 0 #5f5b9a;
  transform: translate(clamp(-0.2rem, -0.3vw, -0.1rem), 0);
}

.section {
  margin: min(6vw, 4rem) 0;
}

.sub-heading {
  margin: min(3vw, 2rem) 0;
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-align: center;
}

.icon-button-list {
  display: flex;
  gap: clamp(0.3rem, 1vw, 0.5rem);
  align-items: center;
  justify-content: center;
  margin: min(2.5vw, 1.5rem) auto;
}

.icon-button {
  display: block;
  width: min(10vw, 48px);
  aspect-ratio: 1;
  box-shadow: 0.2rem 0.2rem 0 #5f5b9a;
}

.form {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin: min(3vw, 1.5rem) auto;
  text-align: center;
}

.text-field {
  display: block;
  width: 100%;
  max-width: 300px;
  padding: min(1.5vw, 0.6rem);
  font-family: 'DotGothic16', Tofu, sans-serif;
  border: 1px solid #5f5b9a;
  border-radius: 4px;
  box-shadow: 0.2rem 0.2rem 0 #5f5b9a;
}

.primary-button {
  display: block;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #8d83e1;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0 #5f5b9a;
}

.select-bg {
  display: flex;
  gap: min(2vw, 1rem);
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
}

.select-bg-label {
  display: block;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border: 0.2rem solid transparent;
  border-radius: 0.5rem;
}

.select-bg-label:has(input:checked) {
  /* box-shadow: 0.2rem 0.2rem 0 #5f5b9a; */
  border-color: #5f5b9a;
}

.select-bg-img {
  aspect-ratio: 1200 / 630;
  object-fit: cover;
  object-position: center;
}

.button-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  justify-content: center;
  max-width: 800px;
  margin: min(3vw, 2.5rem) auto;

  @media (width > 800px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.loading {
  position: fixed;
  inset: 0;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  font-family: 'DotGothic16', Tofu, sans-serif;
  font-size: clamp(1.5rem, 3vw, 3rem);
  text-align: center;
  background-color: var(--bg);
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  9% {
    opacity: 1;
    transform: translateX(0);
  }
}

.loading-char {
  display: inline-block;
  min-width: 0.6em;
  animation: slide-in var(--duration) var(--delay) linear infinite;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
